/* TYPOGRAPHY */
body            {font-family: "Lucida Grande", "Lucida Sans Unicode",  helvetica, arial, sans-serif;}
h1, h2, h3, dt  {font-family: "Utopia Std", "Georgia", "Times", serif;}
h1, h2, #footer {text-align: center;}
p               {text-align: justify;}

p, dd, em {font-size: 0.8em;}
h1        {font-size: 1.6em;}
h3, dt    {font-size: 1.1em;}
#footer   {font-size: 0.7em;}

dt        {text-decoration: underline;}
p         {text-indent: 1em; line-height: 1.4em;}
h3        {letter-spacing: 1px;}

/* COLORS AND BACKGROUNDS */
body         {background: #eeece3 url(../i/body_bg.jpg) no-repeat bottom fixed;}
h3, #footer  {background-color: #ffc819;}
h3           {background: url(../i/h3_bg.png) repeat-y;}
p            {background: url(../i/p_bg.png) no-repeat;}

body                       {color: #000;}
a                          {color: #0066cc;}
a:hover, a:active, a:focus {color: #000099;}
.shell                     {color: orange;}

/* LAYOUT AND MARGINS */
#content    {width: 700px; margin: 10px auto 0 auto; padding-bottom: 10px;}
h1, #footer {width: 100%;}
h3          {clear: both;}
img         {float: left; margin: 10px 40px 20px 40px;}

h3, dt, #footer   {padding-top: 3px; padding-bottom: 1px; margin-top: 1em;}
p, dt, dl, dd, h3 {padding-left: 10px;}
p, dd             {padding-right: 120px;}
p                 {padding-top: 15px; min-height: 50px;}
pre               {margin: 1.5em;}
